list {
transform: rotate(1.5deg);
}
button {
transform: rotate(-3deg);
}
label {
transform: rotate(2deg);
}
dropdown > popover.menu.background > contents {
transform: rotate(3deg);
}
.card {
transform: rotate(-1.5deg);
}
headerbar {
transform: rotate(0.5deg);
}
